default:
  image: "ruby:${RUBY_VERSION}"

stages:
  - test

.test-template: &test
  before_script:
    - bundle install
  script:
    - bundle exec rake spec

rspec:
  parallel:
    matrix:
      - RUBY_VERSION: [ "2.7", "3.0", "3.1", "3.2", "3.3", "3.4"]
  <<: *test

include:
  - component: $CI_SERVER_FQDN/gitlab-org/components/gem-release/gem-release@~latest